<%= render 'layouts/nav' %>	
<div class="main-container">
			<header class="page-header resume-header">
				<div class="background-image-holder parallax-background">
					<%= image_tag('phonegreen.jpg', class: 'background-image', alt: 'Jeremy Wade') %>
				</div>
					<div class="spacer-40"></div>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="text-white space-bottom-medium">Jeremy Wade</h1>
							<span>  Entrepreneur | Educator | Developer</span>
							<div class="spacer-40"></div>
						</div>
					</div>
				</div>
			</header>
			
			<section class="strip bg-white">
				<div class="container">
					<div class="row clearfix">
						<div class="col-sm-3 col-xs-12 pull-left">
							<a href="#" class="btn btn-primary btn-grey">Contact Me</a>
						</div>
						
						<div class="col-sm-4 col-xs-12 pull-right text-right">
							<ul class="social-icons">
								<li>
									<a href="#">
										<i class="icon social_twitter"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_facebook"></i>
									</a>
								</li>
								
								<li>
									<a href="#">
										<i class="icon social_dribbble"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			
			<section class="no-pad-bottom projects-gallery">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
							<h1>Check out some of my<br>latest projects</h1>
							<p class="lead">
								Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta. 
							</p>
						</div>
					</div>
					
				</div>
				
				<div class="projects-wrapper clearfix">
					<div class="container">
						<div class="row">
							<ul class="filters">
								<li data-filter="*" class="active"><span>All</span></li>
								<li data-filter=".branding"><span>Branding</span></li>
								<li data-filter=".development"><span>Development</span></li>
								<li data-filter=".print"><span>Print Design</span></li>
							</ul>
						</div>
					</div>
					
					<div class="container">
						<div class="projects-container column-projects">
					
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project1.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>MS10</strong> UX</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project2.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Medium</strong> Blog Platform</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project3.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Identity</strong> Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project print image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project4.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Aurora</strong> App Icons</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project branding image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project5.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Sketchbook</strong> Logo Mockup</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
							<div class="col-md-4 col-sm-6 project development image-holder">
								<div class="background-image-holder">
									<img class="background-image" alt="Background Image" src="img/project6.jpg">
								</div>
								<div class="hover-state">
									<div class="align-vertical">
										<h3 class="text-white"><strong>Muzik</strong> Home Screen</h3>
										<a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
									</div>
								</div>
							</div>
							
						
					
						</div>
					</div>
					
				</div>
				
			</section>
			
			<section class="instagram-feed">
				<div class="container">
					<div class="row text-center">
						<div><span class="alt-font">Insta <i class="icon social_instagram"></i> Gram</span></div>
					</div>
				</div>
				
				<div class="instafeed" data-user-name="erikmarinovich">
					<ul></ul>
				</div>
			</section>
		</div>
		
		<div class="footer-container">
		
			
		
			
		
			<footer class="bg-primary short-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<span class="text-white">© 2014 Pivot Inc.</span>
							<span class="text-white"><a href="#">hello@pivot.net</a></span>
							<span class="text-white">+614 3827 492</span>
							<span class="text-white">300 Collins St. Melbourne 3000</span>
						</div>
					</div>
				</div>
				
				<div class="contact-action">
					<div class="align-vertical">
						<i class="icon text-white icon_mail"></i>
						<a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
					</div>
				</div>
			</footer>
		</div>
    </body>
</html>
				
