<div class="nav-container">
						
			<nav class="top-bar overlay-bar offscreen-menu">
				<div class="container">
				
					<div class="row nav-menu clearfix">
						<div class="col-xs-2">
						
						</div>
						
						<div class="col-xs-2 text-right pull-right">
							<div class="offscreen-toggle">
								<i class="icon icon_menu text-white"></i>
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							
						</div>
					</div>
				</div>
				   
				<div class="offscreen-container">
					<ul class="menu">
						<li><a href="#">Home</a></li>
						<li><a href="#about" class="inner-link" target="default">About</a></li>
						<li><a href="#projects" class="inner-link" target="default">Projects</a></li>
						<li><%= link_to "Contact", "https://jsie.typeform.com/to/gypQLs" %><li>
					</ul>	
				</div>
			</nav>
		
			
		
			
		
				